* {
  text-align: left;
}
.biaotou h1 {
  color: darkkhaki;
  text-align: center;
}
.body h2 {
  color: #FFF;
}
.body h3 {
  font-weight: bold;
}
.fubiaotou1 h2 {
  background-color: green;
}
.fubiaotou1 a {
  text-align: left;
}
.fubiaotou2 h2 {
  background-color: pink;
}
.fubiaotou3 h2 {
  background-color: rgb(0, 81, 255);
}
.text1 .text2 .text3 {
  font-weight: bold;
  color: blue;
}