@import url('htpps//:fonts.googleapis.com/css?family=Muli&dispaly=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.key {
    border: 1px solid #000;
    background-color: #fff;
    padding: 20px;
    font-size: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

label {
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;
  }

