
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(161, 100, 223);
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap;
    text-align: center;
}

.btn {
    font-size: 20px;
    background-color: rebeccapurple;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}