@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
}

.img {
    background: url('https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word=wow%E5%9B%BE%E7%89%87&hs=0&pn=3&spn=0&di=7084067677328637953&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&ie=utf-8&oe=utf-8&cl=2&lm=-1&cs=1296575611%2C4257506123&os=2444832948%2C2686593793&simid=23168583%2C749414642&adpicid=0&lpn=0&ln=30&fr=ala&fm=&sme=&cg=&bdtype=0&oriquery=wow%E5%9B%BE%E7%89%87&objurl=https%3A%2F%2Fgimg2.baidu.com%2Fimage_search%2Fsrc%3Dhttp%3A%2F%2Fdingyue.ws.126.net%2FSd5Uzjwo2Pysd8X6IKoIGScS1N3m7uTmlgxCFqGuQ2WlW1533203964110compressflag.jpg%26refer%3Dhttp%3A%2F%2Fdingyue.ws.126.net%26app%3D2002%26size%3Df9999%2C10000%26q%3Da80%26n%3D0%26g%3D0n%26fmt%3Dauto%3Fsec%3D1657122351%26t%3D0628d6d3f25820ab1d319f7f60e97670&fromurl=ippr_z2C%24qAzdH3FAzdH3F1y_z%26e3B8mn_z%26e3Bv54AzdH3FedAzdH3Fw6ptvsjAzdH3F1jpwtsAzdH3FDO0LLANUacdmbdVd_z%26e3Bip4s&gsm=5&islist=&querylist=&dyTabStr=MCwzLDUsNCw2LDEsMiw4LDcsOQ%3D%3D') 
    no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: larger;
    color: aquamarine;
}